# Text Cloud
streamlit
pandas
matplotlib
wordcloud
nltk
spacy
jieba
googletrans

# LangChain
python-dotenv
markitdown[all]
langchain-ollama
langchain-google-genai
langchain
langsmith
langchain-core
openai
langchain-openai
langchain-astradb

# Chatbot
google-generativeai
retry