# Text Cloud
streamlit
pandas
matplotlib
wordcloud
nltk
spacy
jieba
googletrans

# LangChain
pysqlite3-binary
python-dotenv
markitdown[all]
langchain-ollama
langchain-google-genai
chromadb
langchain-chroma
langchain-core
openai
langchain-openai
langchain-astradb