# Text Cloud
streamlit
pandas
matplotlib
wordcloud
nltk
spacy
jieba
googletrans

# LangChain
python-dotenv
markitdown
langchain-ollama
langchain-google-genai
chromadb
langchain-chroma
langchain-core
openai
langchain-openai
pysqlite3-binary